.koko .container {
    background: #2C343E;
    width: 1280px;
    display: flex;
    margin-top: 200px;
}

.koko_heading {
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
}

.koko_text {
    color: #FEFCF7;
    font-family: "Barlow";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.imgjon{
    margin-left: 150px;
    transform: translateY(-80px);
}